.search {
    width: 60% !important;
  }
  
  .btn-end {
    text-align: end;
  }
  
  .card-pdf {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .search {
      width: 100% !important;
    }
    .col-end {
      text-align: end;
    }
    .left-side-content {
      display: none;
    }
  }
  